<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><h1>WELCOME SBK</h1></div>
        <h5>{{aim}}</h5>
        <div class="col-4"></div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="mb-3">
          <label for="acno" class="form-label">Account number</label>
          <input type="text"  [value]="acno" formControlName="acno" class="form-control" name="ac"id="acno" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          <div *ngIf="(loginForm.get('acno')?.touched || loginForm.get('acno')?.dirty) && loginForm.get('acno')?.errors" class="error">Invalid Account Number

        </div>
        </div>
        <div class="mb-3">
          <label for="pwd" class="form-label">Password</label>
          <input type="password" formControlName="pswd" name="ps"class="form-control" id="pwd">
          <div *ngIf="(loginForm.get('pswd')?.touched || loginForm.get('pswd')?.dirty) && loginForm.get('pswd')?.errors" class="error">Invalid Password

          </div>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit"  class="btn btn-primary">Submit</button>
        <button type="button" (click)="register()" class="btn btn-primary">Create New Account</button>
      </form>

</div>
