<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><h1>WELCOME SBK</h1></div>
        <h5>Register Form</h5>
        <div class="col-4"></div>
    </div>
    <form (ngSubmit)="register()">
        <div class="mb-3">
            <label for="unmae" class="form-label">User Name</label>
            <input type="text"  [value]="uname" [(ngModel)]="uname" class="form-control" name="un"id="uname" aria-describedby="emailHelp">
            
          </div>
        <div class="mb-3">
          <label for="acno" class="form-label">Account number</label>
          <input type="text"  [value]="acno" [(ngModel)]="acno" class="form-control" name="ac"id="acno" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="pwd" class="form-label">Password</label>
          <input type="password" [(ngModel)]="pswd" name="ps"class="form-control" id="pwd">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        
        <button type="submit"  class="btn btn-primary">Register</button>
        <a routerLink="">Login</a>
      </form>

</div>

